#can{
	border : 1px solid black;
	background:linear-gradient(red,yellow);
	box-shadow:10px 10px 5px #888888;
	display:block;
	float:left;
}


#sidesection{
	width:100px;
	height:500px;
	border:1px solid black;
	float:left;
	margin-left:5px;
	background:linear-gradient(red,yellow);
}

#control{
	display:block;
}

.bt{
	width:100%;
	
}

.bt:hover{
	background-color:yellow;
}

#scorecard{
	width:100%;
	height:100px;
	text-align:center;
}
#score{
	font-size:50px;
	color:yellow;
}

#alertbox{
	display:none;
	border : 1px solid black;
	background:linear-gradient(red,yellow);
	box-shadow:10px 10px 5px #888888;
	display:block;
	float:left;
	text-align:center;
	font-size:50px;
	color:yellow;
	
	
}



