#can{
	border : 1px solid black;
	background:linear-gradient(red,yellow);
	box-shadow:10px 10px 5px #888888;
	display:block;
	
}

#scorecard{
	margin-left:20px;
	width:400px;
	height : 100px;
	background-color:yellow;
	text-align:center;
}

#scorecard > p{
	font-family:Tahoma;
	font-size:70px;
	color:red;
}

#control{
	margin-left:20px;
	width:300px;
	background-color:yellow;
	
	
}